<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.uwusoft.timesheet.submissionservice">
      <client
            class="com.uwusoft.timesheet.kimaisubmission.KimaiSubmissionService">
      </client>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.uwusoft.timesheet.preferences.TimesheetPreferencePage"
            class="com.uwusoft.timesheet.kimaisubmission.KimaiPreferencePage"
            id="com.uwusoft.timesheet.kimaisubmission.kimaipreferencepage"
            name="Kimai Preferences">
      </page>
   </extension>

</plugin>
