<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.uwusoft.timesheet.jiraservice">
      <client
            class="com.uwusoft.timesheet.jira3.Jira3Service"></client>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.uwusoft.timesheet.preferences.TimesheetPreferencePage"
            class="com.uwusoft.timesheet.jira3.Jira3PreferencePage"
            id="com.uwusoft.timesheet.jira3.Jira3PreferencePage"
            name="Jira 3 Preferences">
      </page>
   </extension>

</plugin>
