<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.uwusoft.timesheet.storageservice">
      <client
            class="com.uwusoft.timesheet.googlestorage.GoogleStorageService">
      </client>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.uwusoft.timesheet.preferences.TimesheetPreferencePage"
            class="com.uwusoft.timesheet.googlestorage.GooglePreferencePage"
            id="com.uwusoft.timesheet.googlestorage.GooglePreferencePage"
            name="Google Spreadsheet Preferences">
      </page>
   </extension>

</plugin>
