<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="com.uwusoft.timesheet.storageservice" name="StorageService" schema="schema/com.uwusoft.timesheet.storageservice.exsd"/>
   <extension-point id="com.uwusoft.timesheet.submissionservice" name="SubmissionService" schema="schema/com.uwusoft.timesheet.submissionservice.exsd"/>
   <extension-point id="com.uwusoft.timesheet.holidayservice" name="HolidayService" schema="schema/com.uwusoft.timesheet.holidayservice.exsd"/>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.uwusoft.timesheet.TimesheetApp">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.uwusoft.timesheet.Perspective"
            id="com.uwusoft.timesheet.perspective"
            name="Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.uwusoft.timesheet.TasksView"
            id="com.uwusoft.timesheet.tasksview"
            name="Weekly Tasks">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               standalone="true"
               minimized="true"
               relative="org.eclipse.ui.editorss"
               relationship="left"
               id="com.uwusoft.timesheet.tasksview">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="Main">
            <command
                  commandId="Timesheet.checkin"
                  icon="icons/check_in_16.png"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="com.uwusoft.timesheet.commands.sourceprovider.active">
                     <equals
                           value="DISABLED">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="Timesheet.changeTask"
                  icon="icons/task_16.png"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="com.uwusoft.timesheet.commands.sourceprovider.active">
                     <equals
                           value="ENABLED">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="Timesheet.setBreak"
                  icon="icons/pause_16.png"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="com.uwusoft.timesheet.commands.sourceprovider.active">
                     <equals
                           value="ENABLED">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="Timesheet.checkout"
                  icon="icons/check_out_16.png"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="com.uwusoft.timesheet.commands.sourceprovider.active">
                     <equals
                           value="ENABLED">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <separator
                  name="com.uwusoft.timesheet.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="Timesheet.submit"
                  icon="icons/signs_16.png"
                  style="push">
            </command>
            <separator
                  name="com.uwusoft.timesheet.separator2"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.window.preferences"
                  icon="icons/preferences_16.png"
                  label="Preferences"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  icon="icons/exit_16.png"
                  label="Exit"
                  style="push">
            </command>
         </menu>
         <command
               commandId="org.eclipse.ui.help.aboutAction"
               label="About"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="com.uwusoft.timesheet.toolbar">
            <command
                  commandId="Timesheet.checkin"
                  icon="icons/check_in_32.png"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="com.uwusoft.timesheet.commands.sourceprovider.active">
                     <equals
                           value="DISABLED">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="Timesheet.changeTask"
                  icon="icons/task_32.png"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="com.uwusoft.timesheet.commands.sourceprovider.active">
                     <equals
                           value="ENABLED">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="Timesheet.setBreak"
                  icon="icons/pause_32.png"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="com.uwusoft.timesheet.commands.sourceprovider.active">
                     <equals
                           value="ENABLED">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="Timesheet.checkout"
                  icon="icons/check_out_32.png"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="com.uwusoft.timesheet.commands.sourceprovider.active">
                     <equals
                           value="ENABLED">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <separator
                  name="com.uwusoft.timesheet.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="Timesheet.submit"
                  icon="icons/signs_32.png"
                  style="push">
            </command>
            <separator
                  name="com.uwusoft.timesheet.separator2"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.window.preferences"
                  icon="icons/preferences_32.png"
                  label="Preferences"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  icon="icons/exit_32.png"
                  label="Exit"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.uwusoft.timesheet.application"
            name="Timesheet">
         <property
               name="appName"
               value="Timesheet">
         </property>
         <property
               name="windowImages"
               value="icons/clock.png">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,445,15">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="aboutImage"
               value="icons/clock.png">
         </property>
         <property
               name="aboutText"
               value="This is Timesheet.">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.uwusoft.timesheet.preferences.TimesheetPreferencePage"
            id="com.uwusoft.timesheet.preferences.TimesheetPreferencePage"
            name="Timesheet Preferences">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.uwusoft.timesheet.preferences.TimesheetPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.uwusoft.timesheet.commands.ChangeTaskHandler"
            id="Timesheet.changeTask"
            name="Change Task">
      </command>
      <command
            defaultHandler="com.uwusoft.timesheet.commands.SetBreakHandler"
            id="Timesheet.setBreak"
            name="Set Break">
      </command>
      <command
            defaultHandler="com.uwusoft.timesheet.commands.CheckoutHandler"
            id="Timesheet.checkout"
            name="Check out">
         <commandParameter
               id="Timesheet.commands.shutdownTime"
               name="shutdownTime"
               optional="true">
         </commandParameter>
      </command>
      <command
            defaultHandler="com.uwusoft.timesheet.commands.CheckinHandler"
            id="Timesheet.checkin"
            name="Check in">
         <commandParameter
               id="Timesheet.commands.startTime"
               name="startTime"
               optional="true">
         </commandParameter>
         <commandParameter
               id="Timesheet.commands.storeWeekTotal"
               name="storeWeekTotal"
               optional="true">
         </commandParameter>
      </command>
      <command
            defaultHandler="com.uwusoft.timesheet.commands.WholeDayTaskHandler"
            id="Timesheet.wholeDayTask"
            name="Whole day">
         <commandParameter
               id="Timesheet.commands.task"
               name="task"
               optional="true">
         </commandParameter>
      </command>
      <command
            defaultHandler="com.uwusoft.timesheet.commands.ImportTasksHandler"
            id="Timesheet.importTasks"
            name="Import Tasks">
      </command>
      <command
            defaultHandler="com.uwusoft.timesheet.commands.SubmissionHandler"
            id="Timesheet.submit"
            name="Submit week">
         <commandParameter
               id="Timesheet.commands.weekNum"
               name="weekNum"
               optional="true">
         </commandParameter>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.services">
      <sourceProvider
            provider="com.uwusoft.timesheet.commands.CommandState">
         <variable
               name="com.uwusoft.timesheet.commands.sourceprovider.active"
               priorityLevel="workbench">
         </variable>
      </sourceProvider>
   </extension>

</plugin>
